@font-face {
  src: url(PatrickHand-Regular.ttf);
  font-family: PatrickHand;
}

html {
  height: 100%;
  width: 100%;
  font-family: PatrickHand;
  font-size: 20px;
  color: #002547;
  background-color: #b0c0b5;
  text-align: center;
}

h1, .advice {
  text-shadow: 10px 10px 10px;
  animation: updown 5s infinite;;
}

@keyframes updown {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

.button {
  border-radius: 10px;
  background-color: #bbd7f2;
  box-shadow: 5px 5px 5px #313a7c;
  border: none;
  font-family: PatrickHand;
  font-size: 15px;
  transition-duration: .5s;
  cursor: pointer;
}

.button:hover {
  background-color: #6bd3ff; /* Green */
  color: black;
}
